/* NAVBAR */
.navbar {
    transition: all 0.3s ease;
    background-color: #111111;
    color: #ffffff !important;
    position: fixed !important;
}

.navbar-brand h3 {
    font-size: 1.65rem;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-weight: 500;
}

.nav-link:hover {
    color: #743009;
}


.dropdown-menu{
    background-color: #111111;
    border-radius: 0px;
    margin-top: 14px !important;
    width: 299px !important;
    text-align: left !important;
}
.dropdown-item {
    color: #ffffff;
}

@media (max-width: 992px) {
    .navbar-icons {
        justify-content: center;
        width: 100%;
        margin-top: 18px;
    }
    .dropdown-menu{
        margin-top: 2px !important;
        width: 100% !important;
    }
}


.brend {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-image: url('imgs/slika-removebg.png');
    background-size: contain;
    opacity: 0.45;
    filter: invert(1);
}
@media (max-width: 1200px) {
    .brend {
        top: 70px !important;
        width: 200px !important;
        height: 200px !important;
    }
}


.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap; 
}

.lang-btn:hover{
    color: white;
    cursor: pointer;
}
